<% include ./partials/header%>
<link rel="stylesheet" href="/stylesheets/index.css">
<div>
    <div class="container">
        <div id="content">
            <h1>The Credit Manager</h1>
            <h3>Easy Fund Transfers....</h3>
            <hr>
            <a class="btn btn-lg btn-default" href="/users">  <i class="fas fa-rupee-sign"></i>  <i class="fas fa-exchange-alt"></i> Start Trading..</a>
        </div>    
    </div>
</div>

<% include ./partials/footer%>